.rotate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ololo-gray);
  background-image: url('../../../assets/images/common/background/background-mobile.svg');
}

.rotate__img {
  width: 40vmin;
  object-fit: contain;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0);
  }
}
