@import '../../../assets/styles/media-variable';

.history {

  @media (min-width: $noTablet) {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0 auto;
    width: 41%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 0;
      background-color: transparent;
      box-shadow: 0 0 1rem 1rem rgba(38, 44, 59, 0.7);
    }
  }
}

.history__tabs {
  display: flex;
  justify-content: center;

  @media (min-width: $noTablet) {
    flex-shrink: 0;
    background-color: var(--ololo-history-tabs-background);
  }
}

.history__tab {
  display: inline-block;
  padding: 1.25rem 1.562rem;
  padding-bottom: 0.708rem;
  opacity: 0.5;
  color: var(--ololo-gold);
  text-decoration: none;
  font-size: 1.083rem;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $noTablet) {
    padding: 0.75rem 1.562rem;
    font-size: 1rem;
  }
}

.history__tabText {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    display: block;
    width: 0;
    height: 0.214rem;
    min-height: 1px;
    background-color: var(--ololo-gold);
    transition: 0.2s;
  }

  @media (min-width: $noTablet) {
    &::before {
      bottom: 0;
      height: 0.187rem;
    }
  }
}

.history__tab_active {
  opacity: 1;

  .history__tabText {
    &::before {
      width: 100%;
    }
  }
}
