@import "../../../assets/styles/media-variable";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: auto 4rem;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  font-family: 'Roboto', sans-serif, Arial;

  @media (min-width: $noTablet) {
    grid-template-rows: auto 5.5rem;
  }
}

@supports (-webkit-touch-callout: none) {
  .wrapper {
    height: 100%;
  }
}
