@import "../../../assets/styles/media-variable";

.container {
  @media (min-width: $noTablet) {
    display: flex;
    justify-content: space-between;
    width: 77%;
    min-width: 1000px;
    margin: 0 auto;
    padding-bottom: 3.933rem;
    overflow: auto;
  }

  @media (min-width: $small-laptop) {
    min-width: 1180px;
  }
}

.container__cell {
  @media (min-width: $noTablet) {
    display: flex;
    flex-direction: column;
    width: calc(50% - 0.7rem);
    min-height: 285px;
    border-radius: 0.375rem;
    overflow: auto;
    background-color: var(--ololo-background-history);
    // TODO min-height
  }
}


.specialPedestal {
  @media (min-width: $noTablet) {
    width: 100% !important;
    margin: 0 !important;
    min-width: auto !important;
  }
}

.noTournament {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  min-height: 285px;
}
