:root {
  --ololo-white: rgb(255, 255, 255);
  --ololo-white-9: rgba(255, 255, 255, 0.9);
  --ololo-white-8: rgba(255, 255, 255, 0.8);
  --ololo-white-7: rgba(255, 255, 255, 0.7);
  --ololo-white-6: rgba(255, 255, 255, 0.6);
  --ololo-white-5: rgba(255, 255, 255, 0.5);
  --ololo-white-4: rgba(255, 255, 255, 0.4);
  --ololo-white-2: rgba(255, 255, 255, 0.2);
  --ololo-white-1: rgba(255, 255, 255, 0.1);
  --ololo-white-06: rgba(255, 255, 255, 0.06);
  --ololo-white-04: rgba(255, 255, 255, 0.04);
  --ololo-white-03: rgba(255, 255, 255, 0.03);
  --ololo-black: rgb(0, 0, 0);
  --ololo-black-35: rgba(0, 0, 0, 0.35);
  --ololo-black-2: rgba(0, 0, 0, 0.2);
  --ololo-black-16: rgba(0, 0, 0, 0.16);
  --ololo-gray: rgb(38, 44, 59);
  --ololo-gray-dark: rgb(27, 31, 42);
  --ololo-gray-light: rgb(194, 194, 194);
  --ololo-gray-very-light: rgb(178, 178, 178);
  --ololo-cyan: rgb(83, 211, 186);
  --ololo-cyan-5: rgba(83, 211, 186, 0.5);
  --ololo-cyan-dark: rgb(64, 131, 138); // game card how many players play
  --ololo-wet-asphalt: rgb(49, 57, 75); // header background
  --ololo-gold-dark: rgb(153, 117, 71); // balance money currency
  --ololo-gold: rgb(231, 174, 95); // game tables title, game card texts, language flags active states, Pedestal first place
  --ololo-gold-special: rgb(227, 170, 94);
  --ololo-gold-special-9: rgba(227, 170, 94, 0.9);
  --ololo-light-blue: rgb(103, 138, 172); // navigation
  --ololo-green-dark: rgb(70, 127, 109); // game card waiting button
  --ololo-green: rgb(84, 151, 130);
  --ololo-blue-dark: rgb(80, 110, 140); // game card empty button
  --ololo-blue-dirty: rgb(54, 63, 84); // header menu background
  --ololo-blue-very-light: rgb(195, 210, 225); // header menu titles
  --ololo-silver: rgb(188, 203, 217); // pedestal second place
  --ololo-bronze: rgb(220, 145, 116); // pedestal third place
  --ololo-green-very-dark: rgb(41, 58, 63); // pedestal background
  --ololo-gray-dark-column-one: rgb(46, 62, 75); // leaders column color
  --ololo-gray-dark-column-two: rgb(54, 72, 84); // leaders column color
  --ololo-gray-light-text: rgb(111, 122, 138); // leader TableTournaments header color
  --ololo-tournaments-ticket-one: rgb(58, 67, 87); // tournaments ticket item
  --ololo-tournaments-ticket-two: rgb(65, 76, 100); // tournaments ticket item, mobile error container background,
  --ololo-tournaments-button: rgb(99, 137, 78); // tournaments button
  --ololo-tournaments-green-light: rgb(150, 223, 142); // history lost amount
  --ololo-scroll-thumb: rgb(78, 91, 122); // scroll thumb
  --ololo-history-tabs-background: rgb(48, 59, 78); // history tabs background
  --ololo-background-tournament: rgb(56, 69, 87); // tournament additional info background
  --ololo-color-tournament-info: rgb(170, 194, 249); // tournament additional info background
  --ololo-color-light-blue: rgb(153, 187, 220);
  --ololo-color-light-blue-6: rgba(153, 187, 220, 0.6);
  --ololo-border-right: rgb(98, 113, 151);
  --ololo-border-left: rgba(98, 113, 151, 0.28);
  --ololo-pedestal-border-bottom: rgb(33, 39, 52);
  --ololo-tournaments-background-items: rgb(51, 59, 78);
  --ololo-background-history: rgb(60, 72, 89);
  --ololo-gamingCardBackgrond: rgb(58, 87, 90);
  --ololo-history-background: rgb(79, 118, 122);
  --ololo-gamefield-button-background: rgb(53, 77, 80);
  --ololo-gamefield-button-text-color: rgb(99, 213, 172);
  --ololo-gamefield-button-background-icon: rgb(17, 25, 26);
}
