@import '../../../../assets/styles/media-variable';

.pedestalItem {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 0.75rem;
}

.pedestalItem__avatar {
  position: relative;
  display: flex;
  width: 40%;
  margin-right: 0.3rem;
  align-self: center;

  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
  }
}

.pedestalItem__avatarInner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.125rem solid transparent;
}

.pedestalItem__avatarInner_gold {
  border-color: var(--ololo-gold);
}

.pedestalItem__avatarInner_silver {
  border-color: var(--ololo-silver);
}

.pedestalItem__avatarInner_bronze {
  border-color: var(--ololo-bronze);
}

.pedestalItem__avatarImg {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.pedestalItem__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.pedestalInfo__infoCell {
  &:not(:last-child) {
    margin-bottom: 0.2rem;
  }
}

.pedestalInfo__infoCell_id {
  font-size: 0.812rem;
  color: var(--ololo-silver);

  @media (min-width: $noTablet) {
    font-size: 0.937rem;
  }
}

.pedestalInfo__infoCell_type {
  color: var(--ololo-gold)
}

.pedestalInfo__infoCell_amount {
  color: var(--ololo-green);
}

.isTournaments {
  margin-right: 0.2rem;
}
