@import '../../../../../assets/styles/media-variable';

.root {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.199);
}

.container {
  width: 96%;
  height: 94%;
  border-radius: 0.892rem;
  background-color: var(--ololo-gamingCardBackgrond);
  border: 1px solid var(--ololo-cyan-5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.text {
  font-size: 1.2rem;
  color: var(--ololo-white);
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.6rem 0.5rem;
  border: none;
  border-radius: 0.71rem;
  box-shadow: inset 0 0.14rem var(--ololo-white-1);
  font-size: 1.07rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;

  @media(min-width: $noTablet) {
    padding: 0.82rem 0.5rem;
    font-size: 1.333rem;

    &:hover {
      cursor: pointer;
      filter: brightness(130%);
    }
  }

  &:active {
    filter: brightness(95%);
  }
}

.button_green {
  background-color: var(--ololo-green-dark);
  color: var(--ololo-white);
}

.button_blue {
  background-color: var(--ololo-blue-dark);
  color: var(--ololo-white);
}

.avatarWrapper {
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 0.1rem;
  border-radius: 50%;
  background-color: var(--ololo-white-5);
  margin-bottom: 1rem;

  @media (min-width: $noTablet) {
    padding: 0.125rem;
  }
}

.avatarImg {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}